#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  font-family: monospace;
}

body {
  background-color: #12100E;
  
}
.data-paragraph {
  font-family: monospace;
  font-size: 13px;
  padding-top: 1rem;

  @media (max-width: 780px) {
    height: 300px;
    overflow-y: auto;
  -webkit-mask-image: linear-gradient(180deg, #000 93%, transparent);
  }
}
span {
  font-family: monospace;
}

.introduction-container {
background: rgba(255, 255, 255, 0.16);
margin: 2rem;
padding: 1.5rem;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
max-width: 100%;

font-family: monospace;
color: #D4DF9E;
font-size: 13px;

@media (max-width: 780px) {
  height: 400px;
  overflow-y: auto;
}
}

.vertical-timeline-element-icon {
  background-color: #D4DF9E;
}

.vertical-timeline-element--work {
  width: auto;
}

.img-container {
padding-bottom: 1.5rem;
}

.vehicle-image {
  width: 300px;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
  height: 250px;
  overflow:hidden;
}
@media (max-width: 780px) {
 .vehicle-image {
  width: 200px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
  border-radius: 5%;
 }
 #root {
  padding: 2rem;
}
.title {
max-width: 100%;
}
}
