#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #12100E;
  font-family: monospace;
}

.Typewriter .title {
   font-size: 32px;
  font-weight: 700;
  font-family: monospace;
  color: #D4DF9E;
 ;
}

.Typewriter .cursor {
  font-size: 32px;
 font-weight: 500;
 font-family: monospace;
color: #D4DF9E;
}

.vertical-timeline-element-icon {
  background-color: #D4DF9E;
}

.vertical-timeline-element--work {
  width: auto;
  height:fit-content;
}

.vehicle-image {
  width: 300px;
  border-radius: 5%;
box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
  height: 250px;
  overflow:hidden;
}
@media (max-width: 580px) {
 .vehicle-image {
  width: 200px;
  height: 150px;
  border-radius: 80%;
 }
}